{% extends "base.html" %}

{% block content %}

<div class="text-center">
    <h1 class="text-danger">{{titre}}</h1>
</div>
<div class="row">
    <hr>
    <div class="col-md-8 offset-2">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group has-success">
                <!-- <p>
                    <label for="">Matricule:</label>
                    <input type="number" class="form-control" value="{{count}}" name="matricule">
                </p> -->
                <!-- <p>
                    <label for="">Numero dans classe:</label>
                    <input type="number" class="form-control" value="{{b}}" name="numero">
                </p> -->
                <!-- <p>
                    <label for="">Classe:</label>
                    <input type="text" class="form-control"  value="{{classe}}" name="classe">
                </p> -->
                {{form}}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
    </div>



    {% endblock content %}