{% extends 'base.html' %}


{% block content %}
<div class="text-center">
    <h1 class="text-danger">{{titre}}</h1>
</div>
<br>
{% include 'message.html' %}

<form action="" method="POST">
    {% csrf_token %}
    <label for="">Etudiant :</label>
    <select id="" class="form-control" name="etudiant">
        <option>---------------------------</option>
        {% for i in etudiants %}
        <option value="{{i.id}}">{{i.numero}}-{{i.nom}} {{i.prenom}}</option>
        {% endfor %}
    </select>
    <label for="">Nombre d'Abscence :</label>
    <input type="number" class="form-control" name="nb-abs">
    <br>
    <div class="text-center">
        <button type="submit" class="btn btn-info">Enregistrer</button>
    </div>
</form>
<br>
<table class="table table-bordered">
    <tr>
        <th>Numero</th>
        <th>Nom et Prenoms</th>
        <th>Nombres d'absence</th>
        <th>Action</th>
    </tr>

    {% if tabl %}
    {% for i in tabl %}
    <tr>
        <td>{{i.etudiant.numero}}</td>
        <td>{{i.etudiant.nom}} {{i.etudiant.prenom}}</td>
        <td>{{i.nb_abscence}} heures</td>
        <td><a href="" id="{{i.etudiant.id}}" class="btn btn-info">Modifier</a></td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% if tabl %}
{% else %}
<div class="text-center">
    <span class="text-danger">Aucun Enregistrement</span>
</div>
{% endif %}


{% endblock content %}