<h1>Promotion {{ promotion.promotion }}</h1>
<p>Average: {{ avg }}</p>
<table>
    <thead>
        <tr>
            <th>Rang</th>
            <th>Matricule</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {% for etudiant in etudiants %}
        <tr>
            <td>{{ etudiant.rang }}</td>
            <td>{{ etudiant.matricule }}</td>
            <td>{{ etudiant.nom }}</td>
            <td>{{ etudiant.prenom }}</td>
            <td>{{ etudiant.note }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
